/*RESET===========================================>>>>>>>>>>>>>>*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
/*BASE===========================================>>>>>>>>>>>>>>*/
body{
  font: 400 1rem 'Zen Antique', sans-serif
}

/*VARIABLES===========================================>>>>>>>>>>>>>>*/
:root{
  /*COLOR*/
  --hue: 262;
  --hua: 194;
  /*HSL COLOR MODE*/
  --one-color: hsl(var(--hue) 100% 28%);
  --two-color: hsl(var(--hue) 100% 55%);
  --neutral-color: hsl(var(--hue) 100% 100%);
  --par-one-color: hsl(var(--hua)100% 72%);
  --par-two-color: hsl(var(--hua)100%
  60%);
  --text-one-color: hsl(var(--hua)0% 0%)
  --text-two-color: hsl(var(--hua)0% 86%);

}

#navigation{
  background: var(--one-color);
}

#navigation.container{
  margin-left: 1.5rem;
  margin-left: 1.5rem;

}

#navigation ul li{
  display: inline-flex;
  margin: 1rem;
}

.logo{
  font: 700 1.21rem 'Robot', sans-serif;
  padding: 1rem;
  font-size: 2rem;
  color:var(--neutral-color);
}

.logo span{
  color:var(--par-one-color)
}

.link{
  color: var(--neutral-color)
}

.grid{
  display: grid;
  gap: 2rem
}
